.mainpage-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure it's behind other elements */
}

.hero-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  text-align: center;
  position: relative;
}

.nav-links a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.auth-links {
  position: absolute;
  top: 0;
  right: 0;
}

.auth-links button {
  border: none;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-links button:hover {
  background-color: #555;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
}

.cta-buttons button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
